@use './partials/variables' as *;
@import 'bootstrap/scss/bootstrap';




 @media screen and (max-width: $small) {
    header {
        display: block !important; 
    }
    #headerlogo{
        padding: 0 !important;
        text-align: center;
    }
    #headertitle{
        margin: 0 !important;
        text-align: center;
    }
};

@media screen and (min-width: $small) {
    header{
        display: flex;
    }
}



$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss'



